{
  "arrowParens": "avoid",
  "semi": false,
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "none",
  "proseWrap": "preserve",
  "useEditorConfig": false,
  "endOfLine": "auto"
}
